@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}

<link href="bootstrap.css" rel="stylesheet" />
<script src="bootstrap.js"></script>
<link rel="stylesheet" href="/Content/reset.css" type="text/css" media="screen">
<link rel="stylesheet" href="/Content/style.css" type="text/css" media="screen">
<link rel="stylesheet" href="/Content/layout.css" type="text/css" media="screen">
<link href='http://fonts.googleapis.com/css?family=Adamina' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


<article class="col-1">
    <div class="indent-left">
        <h3>A Few Words About Us</h3>
        <h6>Best Home Made food of all the Regions around the world. </h6>
        <p>We basically provie the food of all the cultures and regions around the world and these foods has simple spices of everyday use but it tastes more like the tase of Mother's hand.</p>
        <div class="wrapper p3">
            <figure class="img-indent"><img src="/images/po1.jpg" alt="" /></figure>
            <div class="extra-wrap">
                <h6>Regions:</h6>
                <p class="p1">Pakistani Food</p>
                <p class="p1">Indian Food</p>
                <p class="p1">Thai Food</p>
                <p class="p1">Italian Food</p>
                <p class="p1">Continental Food</p>
                <p class="p1">Chinese Food</p>

            </div>

        </div>
    </div>
    <div class="bg">
        <div class="padding">
            <h3>Information about the Developer</h3>
            <h6>Batch: BSIT (Afternoon) 2015</h6>
            <div class="wrapper">
                <p class="p1">Rollnumber: BITF12A013</p>
                <p class="p1">Name: Areeba Moin</p>
            </div>
        </div>
    </div>
</article>